body { background-image: url(../../images/skins/black.jpg); }
.colorme {color:#18A7B5}
.nav-bar > li:hover, .nav-bar > li a:hover  { color: #18A7B5}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#18A7B5}
.flyout {border-top:2px solid #18A7B5}
.sectiontitle {border-left: 4px solid #18A7B5}
::-moz-selection{background:#18A7B5color:#fff;}
::selection{background:#18A7B5color:#fff;}
.ca-menu li:hover .ca-main {color: #18A7B5}
.topborder { border-top:4px solid #18A7B5}
.readmore {background:#18A7B5;}
 #subheader {background: #464136; border-top: 1px solid #18A7B5 color: #eee;}
 #subheader a {color: #eee;}
 #subheader a:hover {color: #fff;}
 .readmore {background:#18A7B5}
 #testimonials blockquote cite {color:#18A7B5}
 .tags {background:#333;}
 ul.pagination li.current a {background: #18A7B5}
.saymore {color:#18A7B5}
.submit {background:#18A7B5} 
dl.tabs dd.active { border-bottom: 3px solid #18A7B5}
ul.accordion > li.active {border-top: 3px solid #18A7B5}
div.alert-box.default { background-color: #18A7B5}
.slide {	margin: 0;	padding: 0;	border-top: solid 4px #18A7B5}
.btn-slide {	background:#18A7B5 url(../../images/plus.png) no-repeat;}
.btn-slide.active { background: #18A7B5 url(../../images/minus.png) no-repeat;}
#footer {border-top:#18A7B5 4px solid;}
.back-top a:hover{background-color: #18A7B5}
.sf-shadow ul {border-top:2px solid #18A7B5}
.panel {border-left:4px solid #18A7B5}
.colorbackground {background:#18A7B5}
a.projectdetail { background: #18A7B5opacity:0.8;}
a.projectdetail:hover { background: #18A7B5;opacity:1.0;}
#testimonials {border-left: solid 6px #18A7B5}
.ei-title h2{background:#18A7B5}
.box .maincontent header { background:#18A7B5 }
.login-cont {
	box-shadow:2px 2px 5px #18A7B5
	-webkit-box-shadow:2px 2px 5px #18A7B5
	-moz-box-shadow:2px 2px 5px #18A7B5
	-ms-box-shadow:2px 2px 5px #18A7B5
	-o-box-shadow:2px 2px 5px #18A7B5
	background:url(../../images/skins/login/black.png);
}
.login-cont input, .login-cont select {
	box-shadow:inset 1px 1px 5px #18A7B5
	-webkit-box-shadow:inset 1px 1px 5px #18A7B5
	-moz-box-shadow:inset 1px 1px 5px #18A7B5
	-ms-box-shadow:2px 2px 5px #18A7B5
	-o-box-shadow:inset 1px 1px 5px #18A7B5;
}